@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&family=Shrikhand&display=swap');
/* principale */

*{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

body{
    font-family: 'Shrikhand', cursive;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}


/* ******************* Header **************** */

header.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__logo{
    padding: 30px;
    padding-bottom: 15px;
}
.header__arctile{
    display: flex;
    flex-direction: column;
}
.header__arctile__localisation{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e8e8e8;
    background: linear-gradient(0deg,#e8e8e8 90%, #000000 135%);
}
.header__arctile__contenu{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 0 20px 40px 20px;

}
.header__arctile__localisation__icon{
    margin-right: 8px;
}
.header__arctile__localisation__ville{
    margin-left: 8px;
}
.header__arctile__contenu__titre{
    font-size: 24px;
}
.header__arctile__contenu__btn{
    height: 50px;
    /* width: 170px; */
    border-radius: 30px;
    border: none;
    color: white;
    background: #9356dc;
    background: linear-gradient(347deg,#9356dc 0%, #ff79da 90%);
    box-shadow: 0px 8px 14px -4px rgba(0,0,0,0.81);
    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 20px;
}


/* ************************** nav ******************************* */

.nav{
    display: flex;
    flex-direction: column;
    margin-left: -13px;
}

.nav__titre{
    padding-left: 25px;
    margin-bottom: 10px;
}

ol{
    counter-reset: steps;
}

li{
    list-style-type: none;
}
li div::before{
    content: "" counter(steps);
    counter-increment: steps;
    color: white;
    background-color: #9356dc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -17px;
}

.nav__contenu-links__item1__cover, .nav__contenu-links__item2__cover, .nav__contenu-links__item3__cover{
    display: flex;
    align-items: center;
    height: 65px;
    width: 280px;
    box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.50);
    margin-bottom: 35px;
    border-radius: 30px;
    position: relative;
    font-weight: 800;
}
.nav__contenu-links__item3__cover{
    margin-bottom: 0;
}
.nav i{
    padding-left: 28px;
}
.nav h4{
    margin-left: 20px;
}

nav li div:hover{
    background-color: hsla(267, 68%, 64%, 0.185);
    transition: ease 0.25s;
    cursor: pointer;
}
nav li div:hover i{
    color: #9356dc;
    transition: ease .25s;
    cursor: pointer;
}


/* ****************** section ********************* */

.section{
    display: flex;
    flex-direction: column;
    background-color: #e8e8e8;
    margin-top: 50px;
}
.section h3{
    margin: 0;
    padding: 10px 0 3px 0;
}
.section i{
    font-size: 20px;
}
.section__titre{
    padding-left: 15px;
    margin-top: 40px;
}
.section__contenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__contenu__item1__card, .section__contenu__item2__card{
    position: relative;
}

.section__contenu__item1__card__badge, .section__contenu__item2__card__badge{
    background-color: #99e2d0;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 5px;
    border-radius: 5px;
    color: hsl(165, 46%, 39%);
    font-weight: bold;
}
.section img{
    width: 340px;
    height: 170px;
    border-radius: 30px 30px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.section__contenu__item1, .section__contenu__item2,
.section__contenu__item3, .section__contenu__item4{
    background-color: white;
    margin-bottom: 30px;
    border-radius: 30px;
}
/* .section__contenu + div:hover{
    box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.50);
    transition: ease 0.25s;
} */
.section__contenu__item1__footer, .section__contenu__item2__footer,
.section__contenu__item3__footer, .section__contenu__item4__footer{
    padding: 0 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ************************** footer ********************** */

footer{
    display: flex;
    flex-direction: column;
    padding: 20px 0 50px 15px;
    background-color: #4b4b4b;
    color: #f7f7f7;
    font-weight: bold;
}

footer h1{
    font-family: 'Shrikhand';
    font-size: 22px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer a{
    color: #f7f7f7;
    font-size: 17px;
}

.footer__list{
    display: flex;
    flex-direction: column;
}
.footer__list__links{
    margin-bottom: 20px;
}
.footer__list__links--modif{
    margin-bottom: 0;
}