@use "libs/index" as *;


/************************************ principale ********************************/

*{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

body{
    font-family: 'Shrikhand', cursive;
    margin: 0;
    padding: 0;
    // position: relative;
}

a{
    text-decoration: none;
    color: black;
}

/* ******************* Header **************** */

.header{
    @include display;
    flex-direction: column;
    &__logo{
        @include display;
        padding: 30px 0 20px 10px;
        align-items: center;
        &__img{
            width: 100%;
            @include flex;
        }
    }
    &__baniere{
        @include background;
        img{
            @include size;
        }
        z-index: -1;
    }
}
section{
    @include size($height:auto);
    @include flex(column);
    background: $extralight-gray;
    border-radius: 35px 35px 0 0;
    // position: absolute;
    // top: 83%;
    margin-top: -70px;
}