@use "../utils/index" as *;

.footer{
    @include flex(column);
    padding: 20px 0 50px 15px;
    background-color: #4b4b4b;
    color: $extralight-gray;
    font-weight: bold;
    h1{
        font-family: 'Shrikhand';
        font-size: 22px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    a{
        color: $light-gray;
        font-size: 17px;
    }
    &__list{
        @include flex(column);
    }
    &__list__links{
        margin-bottom: 20px;

    }
    &__list__links--modif{
        margin-bottom: 0;
    }

    @media (max-width:1700px) and (min-width:768px){
        footer h1{
            margin-left: 64px;
        }
        .footer__list{
            margin-left: 51px;
        }

    }
}