@use "../utils/index" as *;

.main{
    @include flex(column);
    background: $light-gray;
    padding-top: 10px;
    @include align-itm;
    @include margin-l(-40px);
    &__titre1,
    &__titre2,
    &__titre3{
        margin-top: 0;
        margin-left: 20px;
        border-bottom: 4px solid $color-tertiary;
        width: 50px;
        font-weight: normal;
    }
    &__contenu-links{
        @include flex(column);
        h3,p{
            margin-bottom: 0;
            margin-top: 0;
            @extend %overflow-text;
        }
        span{
            margin-left: auto;
            font-weight: bold;
            @include flex;
            align-items: flex-end;
            padding-bottom: 16px;
            padding-right: 19px;
        }
        i{
            color: $color-tertiary;
            background-color: white;
            padding: 6px;
            border-radius: 50%;
        }
    }
    &__contenu-links__item1{
        @include contenu-links__item;
    }
    &__contenu-links__item2{
        @include contenu-links__item;
    }
    &__contenu-links__item3{
        @include contenu-links__item;
    }
    &__contenu-links__item4{
        @include contenu-links__item;
    }
    &__button{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 80px;
        padding-top: 20px;
        background-color: $light-gray;
    }
    &__button__btn{
        @include size(200px,50px);
        @include margin-l(32px);
    }
   
}