/* Error: Undefined mixin.
 *    ,
 * 36 |                 @include motema-hov;
 *    |                 ^^^^^^^^^^^^^^^^^^^
 *    '
 *   public\sass\layout\_header.scss 36:17  @forward
 *   public\sass\layout\_index.scss 2:1     @use
 *   public\sass\pages\_page4.scss 2:1      @forward
 *   public\sass\pages\_index.scss 5:1      @use
 *   public\sass\style.scss 12:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 36 \2502                  @include motema-hov;\d\a    \2502                  ^^^^^^^^^^^^^^^^^^^\a    \2575 \a   public\\sass\\layout\\_header.scss 36:17  @forward\a   public\\sass\\layout\\_index.scss 2:1     @use\a   public\\sass\\pages\\_page4.scss 2:1      @forward\a   public\\sass\\pages\\_index.scss 5:1      @use\a   public\\sass\\style.scss 12:1            root stylesheet";
}
