@use "../utils/index" as *;

.btn {
    border-radius: 30px;
    background: #9356DC;
    background: linear-gradient(347deg,#9356DC 20%, #FF79DA 93%);
    color: white;
    border: none;
    box-shadow: 1px 2px 14px -4px #867e7e;
    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform .4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        transform: scale(1.05);
        background: #9356DC;
        background: linear-gradient(347deg, #9356DC 0%, #FF79DA 80%);
        cursor: pointer;
    }
}