@use "../utils/index" as *;

.motema-vide {
    position: relative;
    padding-left: 20px;
}

.motema-hov {
    color: white;
    position: absolute;
    font-size: 16.3px;
    bottom: 1px;
    left: 22px;
    transition: .17s ease-in;
    &:hover{
        color: transparent;
        background-image: linear-gradient(347deg,#9356dc 0%, #ff79da 80%);
        background-clip: text;
        -webkit-background-clip: text;
        cursor: pointer;
        bottom: 1px;
        left: 22px;
        transform: scale(1.39);
    }
}