@use "../utils/index" as *;
@use "../layout/index" as *;



.header-page{
    &__baniere__img--page4{
        background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        @include baniere-image;
    }
}



.section-page4{
    @include flex(column);
    background: $light-gray;
    padding-top: 26px;
    @include align-itm;
    @include margin-l(-40px);
    &__titre1,
    &__titre2,
    &__titre3{
        margin-top: 0;
        margin-left: 20px;
        border-bottom: 4px solid $color-tertiary;
        width: 50px;
        font-weight: normal;
    }
    &__contenu-links{
        @include flex(column);
        h3,p{
            margin-bottom: 0;
            margin-top: 0;
            @extend %overflow-text;
        }
        span{
            margin-left: auto;
            font-weight: bold;
            @include flex;
            align-items: flex-end;
            padding-bottom: 16px;
            padding-right: 19px;
        }
        
        i{
            color: $color-tertiary;
            background-color: white;
            padding: 6px;
            border-radius: 50%;
        }
    }
    &__contenu-links__item1{
        @include contenu-links__item;
        animation: slide .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    &__contenu-links__item2{
        @include contenu-links__item;
        animation: slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    &__contenu-links__item3{
        @include contenu-links__item;
        animation: slide 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    &__contenu-links__item4{
        @include contenu-links__item;
        animation: slide 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    &__contenu-links__item1__contenu{
        @include flex;
        &__description{
            @include item__description;
        }
        
        &__check{
           @include check;
        }
        &__check--plat{
            @include check;
            width: 85px;
            margin-right: -85px;
        }
        &:hover{
            .section-page4__contenu-links__item1__contenu__check{
                @include item-hover;
            }
            i{
                animation: quarter .4s ease-in-out;
            }
        }

    }
    &__contenu-links__item2__contenu{
        @include flex;
        &__description{
            @include item__description;
        }
        &__check{
            @include check;
            width: 75px;
            margin-right: -75px;
         }
         &__check--plat{
            width: 56px;
            margin-right: -56px;
         }
         &:hover{
            .section-page4__contenu-links__item2__contenu__check{
                @include item-hover;
            }
            i{
                animation: quarter .4s ease-in-out;
            }
        }
    }
    &__contenu-links__item3__contenu{
        @include flex;
        &__description{
            @include item__description;
        }
        &__check{
            @include check;
            width: 55px;
            margin-right: -55px;
        }
        // &__check--plat{
        //     width: 54px;
        //     margin-right: -54px;
        // }
        &:hover{
            .section-page4__contenu-links__item3__contenu__check{
                @include item-hover;
            }
            i{
                animation: quarter .4s ease-in-out;
            }
        }
    }
    &__button{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 80px;
        padding-top: 20px;
        background-color: $light-gray;
    }
    &__button__btn{
        @include btn;
        @include size(200px,50px);
        @include margin-l(32px);
        &:hover{
            @include btn-hover;
        }
    }
}

@media #{$desktop} and (min-width:1314px){
    .section-page4__logo{
        i{
            margin-left: 70px;
        }
    }
    .section-page4{
        @include flex;
        justify-content: space-around;
        align-items: baseline;
        padding-left: 5px;
        flex-wrap: wrap;
        margin-left: 1px;
        padding-top: 53px;
        .colum-2, .colum-3{
            padding-left: 86px;
        }
    }
}

@media (max-width:360px) and (min-width:326px){
    .section-page4{
        @include margin-l(-5px);
        li{
            @include size(300px,auto);
        }
    }
}
@media (max-width:326px){
    .section-page4{
        @include margin-l(-20px);
        li{
            @include size(280px,auto);
        }
    }
}

@media (max-width:1314px) and (min-width:768px){
    .section-page4__logo{
        i{
            margin-left: 95px;
        }
    }
    .section-page4{
        @include flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        padding-top: 53px;
    }
}