// /************************************ principale ********************************/

*{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

body{
    font-family: 'Shrikhand', cursive;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

