@use "./variables" as *;  
  
  /**
 * ----------------------------------------
 * animation loader
 * ----------------------------------------
 */

 @keyframes disapear {
  to {
    opacity: 0;
    z-index: -1;
  }
}

.loader{
  $animation-duration: 1s;
  $animation-count: 4.5 ;
  position: fixed;
  background: hsl(0, 0%, 100%);
  height: 100vh;
  inset: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disapear .6s $animation-duration*$animation-count forwards ease-in-out;
  // transform-origin: 50% bottom;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 5px solid transparent;
    border-top: 5.5px solid $color-primary;
    border-bottom: 5.5px solid $color-secondary;
    border-radius: 50%;
    animation: spin 1.7s cubic-bezier(.41,.35,.45,.78) infinite;
    animation-iteration-count: $animation-count;
    span{
      width: 10px;
      height: 10px;
      background-color: $color-tertiary;
      border-radius: 50%;
    }
  }
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}




// *********** bale ********************



// @keyframes loader__spinner__ball-container-o {
//     0% { 
//       opacity: 1; 
//       transform: translate(0)
//     }
//    49.99% { 
//       opacity: 1; 
//       transform: translate(80px,0) 
//     }
//    50% { 
//       opacity: 0; 
//       transform: translate(80px,0) 
//     }
//   100% { 
//     opacity: 0; 
//     transform: translate(0,0)
//    }
// }
// @keyframes loader__spinner__ball-container {
//     0% { 
//       transform: translate(0,0)
//     }
//    50% { 
//     transform: translate(80px,0)
//     }
//   100% { 
//     transform: translate(0,0)
//   }
// }
// .loader__spinner {
//   width: 200px;
//   height: 200px;
//   display: inline-block;
//   overflow: hidden;
//   background: transparent;
// }
// .loader__spinner__ball-container {
//   width: 100%;
//   height: 100%;
//   position: relative;
//   transform: translateZ(0) scale(1);
//   backface-visibility: hidden;
//   transform-origin: 0 0;
// }
// .loader__spinner__ball-container div {
//   position: absolute;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   top: 60px;
//   left: 20px;
// }
// .loader__spinner__ball-container div:nth-child(1) {
//   background: #9356DC;
//   animation: loader__spinner__ball-container 1s linear infinite;
//   animation-delay: -0.5s;
// }
// .loader__spinner__ball-container div:nth-child(2) {
//   background: #FF79DA;
//   animation: loader__spinner__ball-container 1s linear infinite;
//   animation-delay: 0s;
// }
// .loader__spinner__ball-container div:nth-child(3) {
//   background: #9356DC;
//   animation: loader__spinner__ball-container-o 1s linear infinite;
//   animation-delay: -0.5s;
// }




 /**
 * ----------------------------------------
 * animation slide
 * ----------------------------------------
 */
 @keyframes slide {
  0% {
            transform: scale(0);
  }
  100% {
            transform: scale(1);
  }
}

/**
* ----------------------------------------
* animation slide
* ----------------------------------------
*/

@keyframes quarter {
0%{
    transform: rotate(-270deg);
}
100%{
    transform: rotate(0);
}
}
