@use "../utils/index" as *;
@use "../components/index" as *;
@use "../layout/index" as *;



.header-page2{
    &__baniere__img--la-note{
        background: url(../../public/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        @include baniere-image;
    }
}


.main{
    &__contenu-links__item1__contenu{
        @include flex;
        &__description{
            @include item__description;
        }
        &__check__la-note{
            @include check;
            width: 85px;
            margin-right: -85px;
        }
        &:hover .main__contenu-links__item1__contenu__check__la-note{
            @include item-hover;
        }
    }
    &__contenu-links__item2__contenu{
        @include flex;
        &__description{
            @include item__description;
        }
        &__check__la-note{
            @include check;
            width: 67px;
            margin-right: -67px;
         }
         &:hover .main__contenu-links__item2__contenu__check__la-note{
            @include item-hover;
        }
    }
    &__contenu-links__item3__contenu{
        @include flex;
        &__description{
            @include item__description;
        }
        &__check__la-note{
            @include check;
            width: 72px;
            margin-right: -72px;
        }
        &:hover .main__contenu-links__item3__contenu__check__la-note{
            @include item-hover;
        }
    }
    &__contenu-links__item4__contenu{
        @include flex;
        &__description{
            @include item__description;
        }
        &__check__la-note{
            @include check;
            width: 72px;
            margin-right: -72px;
        }
        &:hover .main__contenu-links__item4__contenu__check__la-note__la-note{
            @include item-hover;
        }
    }
}