@use "../utils/index" as *;



.footer{
    @include flexDisplay(column);
    padding: 20px 0 50px 15px;
    background-color: darken(#4b4b4b, 10%);
    color: $extralight-gray;
    h1{
        font-weight: 200;
        font-family: 'Shrikhand';
        font-size: 22px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    a{
        color: $light-gray;
        font-size: 17px;
    }
    &__list{
        @include flexDisplay(column);
        margin-left: -27px;
    }
    &__list__links{
        margin-bottom: 20px;

    }
    &__list__links--modif{
        margin-bottom: 0;
    }
}