$phone: "only screen and (max-width:768px)";
$i-pad: "only screen and (min-width:768px) and (max-width:962px)";
$desktop: "only screen and (max-width:2000px)";
// $pc: "only screen and (max-width:768px)";