@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&family=Shrikhand&display=swap");
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

li {
  list-style: none;
}

/**
 * ----------------------------------------
 * animation slide
 * ----------------------------------------
 */
@keyframes slide {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/**
* ----------------------------------------
* animation slide
* ----------------------------------------
*/
@keyframes quarter {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
/**
* ----------------------------------------
* animation loader
* ----------------------------------------
*/
.loader {
  position: fixed;
  background: hsl(0deg, 0%, 100%);
  height: 100vh;
  inset: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.4s 2.3s forwards ease-in-out infinite;
  transform-origin: 50% bottom;
}

@keyframes loader__spinner__ball-container-o {
  0% {
    opacity: 1;
    transform: translate(0 0);
  }
  49.99% {
    opacity: 1;
    transform: translate(80px, 0);
  }
  50% {
    opacity: 0;
    transform: translate(80px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}
@keyframes loader__spinner__ball-container {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(80px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.loader__spinner {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.loader__spinner__ball-container {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.loader__spinner__ball-container div {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}

.loader__spinner__ball-container div:nth-child(1) {
  background: #9356DC;
  animation: loader__spinner__ball-container 0.9s linear infinite;
  animation-delay: -0.5s;
}

.loader__spinner__ball-container div:nth-child(2) {
  background: #FF79DA;
  animation: loader__spinner__ball-container 0.9s linear infinite;
  animation-delay: 0s;
}

.loader__spinner__ball-container div:nth-child(3) {
  background: #9356DC;
  animation: loader__spinner__ball-container-o 0.9s linear infinite;
  animation-delay: -0.5s;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 20px 0 50px 15px;
  background-color: #323232;
  color: #f7f7f7;
}
.footer h1 {
  font-weight: 200;
  font-family: "Shrikhand";
  font-size: 22px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.footer a {
  color: #e8e8e8;
  font-size: 17px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  margin-left: -27px;
}
.footer__list__links {
  margin-bottom: 20px;
}
.footer__list__links--modif {
  margin-bottom: 0;
}

header {
  display: flex;
  flex-direction: column;
}

header h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  text-align: center;
}

header .location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: -15px;
  font-weight: bold;
  background: #e8e8e8;
  background: linear-gradient(0deg, #e8e8e8 91%, #000000 160%);
}

.head__section {
  background: #f7f7f7;
  padding: 40px;
  text-align: center;
  margin-top: -26px;
}
.head__section .section_first {
  font-size: 25px;
  font-weight: bold;
}
.head__section button {
  border-radius: 30px;
  background: #9356DC;
  background: linear-gradient(347deg, #9356DC 20%, #FF79DA 93%);
  color: white;
  box-shadow: 1px 2px 14px -4px #867e7e;
  font-size: 1.1em;
  transition: transform 0.4s ease-in-out;
  border-radius: 27px;
  font-size: 16px;
  padding: 15px 20px;
  font-weight: bold;
}

.guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -20px;
  counter-reset: steps;
  position: relative;
}
.guide li::before {
  content: "" counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 35px;
}
.guide__first, .guide__second, .guide__third {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 6px 0px rgba(171, 166, 166, 0.5);
  margin: 10px;
  transition: transform 0.4s ease-in-out;
  width: 330px;
  height: 70px;
  border-radius: 20px;
}
.guide__first p, .guide__second p, .guide__third p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
}
.guide__first i, .guide__second i, .guide__third i {
  color: #757575;
  margin-left: -15px;
}
.guide__second i, .guide__third i {
  margin-left: -35px;
}

.menu {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
.menu h2 {
  font-size: 24px;
  font-weight: 800;
  margin-left: -189px;
  margin-top: 63px;
  margin-bottom: 30px;
}
.menu__plat {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f7f7f7;
  padding: 0 20px 40px 20px;
  background: #fff;
  width: 345px;
  height: 245px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 22px;
}
.menu__linkImg img {
  border-radius: 30px 30px 0 0;
  width: 345px;
  height: 195px;
  background-image: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.menu__text {
  width: 100%;
  margin: 10px 0 0 7px;
  position: relative;
  text-align: start;
}
.menu__text h3 {
  margin: 0;
}
.menu__text span {
  margin: 0;
}
.menu__text i {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 25px;
}
.menu__text i.fas {
  color: transparent;
  background-image: linear-gradient(347deg, #9356dc 0%, #ff79da 80%);
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
